a {
    display: inline-block;
}
* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.heroPage {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
}

.heroPage-bg { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-image: url("img/shutterstock_739018783\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    text-align: center;
}

.heroPage-img {
    width: 100%;
    height: auto;
}

.heroPage-container {
    padding-top: 100px;
    padding-bottom: 78px;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mainLogoBox {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

.mainContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    flex-wrap: nowrap;
    max-height: 264px;
}
.contactBox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.partnersBox {
    width: 100%;
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fontStyle {
    font-size: 32px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: -0.04em;
    margin: 0;
}
.dateBox .fontStyle {
    font-weight: 700;
    font-size: 21.2491px;
    line-height: 26px;
    letter-spacing: 0.5em;
}
.contactBox h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1em;
    font-variant: all-small-caps;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
}
.contactBox a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

.animationBox {
    height: 264px;
    width: 340px;
    position: relative;
  }

  .animationBox .txt {
    filter: drop-shadow(6px 3px 4px #00BDFF);
    animation: neon linear 4s infinite normal;
    animation-fill-mode: both;

    position: absolute;
    left: 190px;
    top: 81px;
  }


  @keyframes neon {
    0% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }

    20% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    } 
    21% {
        filter: none;
    }


    22% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }
   
    60% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }
    61% {
        filter: none;
    }

    62% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }
    67% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }

    67% {
        filter: none;
    }

    68% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }
    
    100% {
        filter: drop-shadow(6px -8px 9px #00BDFF);
    }
  }

  .animationBox .heart {
    position: absolute;
    left: 0;
  }

  .animationBox .whiteheart {
    /* filter: drop-shadow(3px 1px 3px #FF0CD8); */
    /* animation: neonheart linear 2s infinite alternate; */
    animation: heartbeatopacity linear 1.5s infinite alternate;
    animation-fill-mode: both;
  }
  .animationBox .neonheart {
    /* filter: drop-shadow(-1px 0px 3px #FF0CD8); */
    /* filter: drop-shadow(-2px -3px 3px #FF0CD8); */
    /* animation: heartbeat2 linear 2s infinite alternate; */
    /* animation-fill-mode: both; */
    width: 245px;
    height: 284px;
    left: -10px;
    top: -10px;
  }

  @keyframes whiteheartvisible {
    0% {
       opacity: 1;
    }
  
    80% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    82% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }

  }
  @keyframes whiteheartvisible2 {
    0% {
        filter: drop-shadow(-2px -3px 3px #FF0CD8);
    }
  
    80% {
        filter: drop-shadow(-2px -3px 3px #FF0CD8);
    }
    81% {
        filter: none;
    }
    82% {
        filter: drop-shadow(-2px -3px 3px #FF0CD8);
    }
    100% {
        filter: drop-shadow(-2px -3px 3px #FF0CD8);
    }

  }

  /* @keyframes neonheart {
    0% {
        filter: drop-shadow(4px 1px 3px #FF0CD8);
    }
 
    80% {
        filter: drop-shadow(4px 1px 3px #FF0CD8);
    }
    81% {
        filter: drop-shadow(1px 1px 3px #FF0CD8);
    }
    82% {
        filter: drop-shadow(4px 1px 3px #FF0CD8);
    }
    100% {
        filter: drop-shadow(4px 1px 3px #FF0CD8);
    }

  } */

  @keyframes heartbeat {
    0% {
        filter: drop-shadow(2px 1px 3px #FF0CD8);
    }
    50% {
        filter: drop-shadow(5px 1px 3px #FF0CD8);
    }
   51% {
        filter: none;
    }
  }
  @keyframes heartbeatopacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
   51% {
        opacity: 0;
    }


    80% {
        opacity: 0;
    }
    81% {
        opacity: 1;
        filter: drop-shadow(-2px -3px 10px #FF0CD8);
    }
    84% {
        opacity: 1;
        filter: drop-shadow(-2px -3px 10px #FF0CD8);
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }

  @keyframes heartbeat2 {
    0% {
        filter: drop-shadow(-2px -3px 3px #FF0CD8);
    }
    50% {
        filter: none;
    }
   51% {
        filter: none;
    }
  }

 

@media (max-width: 767px) {
   
    .heroPage-container {
        padding-top: 65px;
        padding-bottom: 60px;
    }

    .mainLogoBox {
        top: 25px;
    }
    .partnersBox {
        bottom: 25px;
    }
    .fontStyle {
        font-size: 15px;
        line-height: 30px;
      }
      .dateBox .fontStyle {
        font-size: 15px;
        line-height: 30px;
    }

      .contactBox address, .contactBox span {
        font-size: 15px;
        line-height: 20px;
      }

      .mainContentBox {
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        max-height: unset;
        width: 100%;
      }

      .animationBox img {
        max-height: 200px;
        width: auto;
      }

      .animationBox {
        height: 200px;
        margin: 0 auto;
      }

      .animationBox .heart {
       left: 49px;
      }
      .animationBox .neonheart {
        top: -8px;
        left: 128px;
        left: 40px;
        width: 187px;
        max-height: 216px;
        height: 216px
      }
      .animationBox .txt {
        left: 193px;
        top: 67px;
        max-height: 120px;
      }

}

@media (max-width: 750px) {
    .heroPage-container {
        padding-bottom: 100px;
    }
    .logoLink {
        flex-basis: 50%;
        margin-bottom: 9px;
    }
    .partnersBox {
        bottom: 9px;
        padding: 0 40px;
    }
}

@media (max-width: 400px) {
    .partnersBox {
        bottom: 9px;
        padding: 0 10px;
    }
}

@media (max-width: 380px) {
    .animationBox {
        width: 100%;
    }
    .logoLink img {
        width: 80%;
    }
    .animationBox .heart {
        left: 50%;
        transform: translateX(-124px);
    }

    .animationBox .neonheart { 
       left: 47.55%;
    }
    .animationBox .txt {
        left: 50%;
        transform: translateX(9px);

    }
}

@media screen and (orientation:landscape)
and (max-width: 1000px) 
and (max-height: 550px)
{
  .animationBox {
    display: none;
  }
}


